body {
  background: url("crt-bg.png") black; 
  color: lime;
  font-family: monospace;
}
input {
    color: lime;
    background: none;
    border: 1px solid lime;
    font-family: monospace;
}
td input {
    width: 100%;
}
#login-main {
    border: 1px solid lime;
    width: 75%;
    margin: auto;
    min-width: 400px;
    max-width: 640px;
    text-align: center;
}
#login-main table {
    width: 98%;
    text-align: right;
}
hr {
    border: 2px solid lime;
}
